.Accordion {
  border: 1px solid #FDCA38;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 15px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__icon {
    cursor: pointer;
  }

  &__disabled-icon {
    cursor: not-allowed;
  }

  &__content {
    margin-top: 20px;
    border-top: 1px solid #e2e8f0;
    padding-top: 10px;
  }
}
