.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;

  @media (max-width: 1400px) {
    grid-template-columns: 1fr;
  }
}

.Selector {
  color: #ffffff;

  option {
    color: #000000;
  }
}
