.rs-pagination-group {
    justify-content: center;
}

.rs-pagination-btn {
    background-color: #f0f0f0;
}

.rs-pagination-btn:hover {
    background-color: #f0f0f0;
}

.rs-pagination-btn.rs-pagination-btn-active{
    background-color: #ffffff;
}

.rs-pagination-btn.rs-pagination-btn-active:hover {
    background-color: #ffffff;
}