.TestsListCard {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__actions {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
